:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
  position: relative;
  height: 100%;
}

header {
  background: url(/images/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 1.25rem 1.25rem 6.5rem;
}

header h1 {
  letter-spacing: -0.055rem;
}

header form {
  margin: 1.4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.674rem;
}

header form input {
  width: 100%;
  max-width: 498px;
  padding: 0.938rem 1.563rem;
  font-size: 1.2rem;
  letter-spacing: -0.035rem;
  border: none;
  border-radius: 0.938rem 0 0 0.938rem;
}

header form button {
  height: 100%;
  border: none;
  background: var(--very-dark-gray);
  color: var(--dark-gray);
  border-radius: 0 0.938rem 0.938rem 0;
  padding: 0 1.438rem;
}

header form button img {
  width: 11px;
  height: 14px;
}

main {
  position: absolute;
  z-index: 1;
  top: 196px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 69.5rem;
  width: 100%;
  padding: 0 1.5rem;
}

main div.cards {
  background-color: #fff;
  color: var(--very-dark-gray);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2.1rem 0;
}

main div.card {
  padding: 0 2rem;
  font-size: 1.4rem;
}
main div.card:not(:last-child) {
  border-right: 1px solid lightgray;
}

main div.card h2 {
  color: var(--dark-gray);
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding-bottom: 0.7rem;
}

main div.card h3 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@media (max-width: 850px) {
  header {
    font-size: 0.8rem;
    padding: 1.25rem 1.5rem 8.5rem 1.5rem;
  }

  header form {
    margin-top: 1.65rem;
  }

  main {
    top: 167px;
  }

  main div.cards {
    grid-template-columns: 1fr;
    gap: 1.4rem;
    text-align: center;
    padding: 1.5rem;
  }

  main div.card:not(:last-child) {
    border-right: none;
  }

  main div.card h2 {
    font-size: 0.65rem;
    padding-bottom: 0.35rem;
  }

  main div.card h3 {
    font-size: 1.25rem;
  }
}
